.mar{
  margin: 100px;
}
header{
    background-image: url('Banner Image.png');
    background-repeat:no-repeat;
    background-size: 100%;
}
.photo1{
  width: 500px;
}
.mid-part{
  border: 20 red;
  background-image: url('/Vectorrr.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  padding :40px 40px ;
  margin-top: 100px;
}
.image2{
  width: 180px;
  height:250px;
}
.btn{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.btn2{
  text-align: center;
  padding: 30px;
  margin-top:100px;
  border-radius: 20px;
}
.text2{
  font-size: 38px;
  font-weight: 500;
  
}

#btn{
  font-size: 30px;
  font-weight: 400;
  color: white;
  padding: 20px;
  background-color: orangered;
  border-radius:10px;
}
.offer{
  display: flex;
}
.img3{
  border: 20px;
  border-color: black;
}
.img4{
  border: 15px solid red;
  border-radius: 50%;
  padding: 30px;
}

.offer{
  margin-top: 90px;
}
.holiday{
  font-size: 50px;
  font-weight: 600px;
  font-style: solid;
  font-family: sans-serif;
}
.txt{
  color: #ADAFC4;
  
}
.last-midPart{
  background-image: url('/Rectangle 1.png');
 margin-left:475px;
}
.img5{
  background-image: url('/Rectangle 2.png');
  background-repeat: no-repeat;
  background-size: 500px;
 
}
.bottomPart{ margin: 100px 0;
  background-color: pink;
  text-align: center;
  padding-bottom: 40px;
  border-radius: 20px;
}
.btn3{
  text-decoration: none;
  color: White;
  background-color: red ;
  padding: 6px 20px;
  margin:3px 0 0 -6px;
  border-radius: 0 50px 50px 0;
}
.input{
  border: 2px solid;
  padding: 6px 20px;
  border-radius: 50px 0px 0 50px;
  border-color: white
}
.call{
  margin-left: 300px;
}
